* {
    margin:0;
    padding:0;
}

/*PAGE CARTE*/
    /* Style des contenus */
.c_carte {
    border: 2px solid black;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.7);
    width:80%; 
    margin:2em auto;
    color: black;
    font-size: 120%;
}
.c_carte .c_title {
    text-align: center;
    padding-top: 0.8em;
    width: 90%;
    border-bottom: 2px solid black;
    margin: auto;
    height: 3em;
    text-transform: uppercase;
    font-size: 120%;
    font-weight: bold;
}
.c_carte_content {
    padding: 0.8em;     
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.c_boisson {
    display:grid;
    grid-template-columns: repeat(4,1fr);
}
.c_bbtea {
    border: 2px solid black;
}
.c_carte button {
    border: none;
    background-color: transparent;
}
.c_carte label {
    font-size: small;
    width: 100%;
    color: white;
    display: block;
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid rgba(255, 255, 255, 0);
    padding: 0.5em;
    margin: auto;
    background-color: rgb(42, 41, 41);
    margin-left: 7.5em;
    width: 50%;
    height: 25%;
}
.c_carte label:hover {
    color:black;
    background-color: rgb(55, 198, 86);
    border-color: black;
}
.c_recap {
    border-left: 5px double black;
    display: grid;
    grid-template-rows: 5fr 1fr 1fr;
}
.c_price {
    font-weight: bold;
    font-size: 110%;
    position: relative;
    bottom: 50px;
    left: 170px;
}
.c_carte .c_description {
    border-top: 2px solid black;
    padding: 0.7em;
}
.c_carte input[type="radio"] {
    display: none;
}
.c_panier {
    padding: 0.7em;
    text-align: center
}
.c_panier_titre {
    text-transform: uppercase;
    font-weight: bold;
}
.c_total {
    border-top: 2px solid black;    
    text-align: center;    
}
.c_total p {
    font-size: 20px;
    text-transform: capitalize;
    height: 100%;
    width: 100%;
    margin-top: 2em;
}
.c_payer {
    border-top: 2px solid black;  
    text-align: justify;
}
.c_payer button {
    font-size: 20px;
    border: none;
    text-transform: uppercase;
    height: 100%;
    width: 100%;
    background-color: transparent;
}
.c_payer button:hover {
    color: rgb(24, 105, 42);
    font-weight: bold;
}

/*PAGE SELECTION*/
.c_selection {
    border: 2px solid black;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.7);
    width:30%; 
    margin:2em auto;
    color: black;
    font-size: 120%;
}
.c_selection input[type="submit"], .c_option_title{
    text-transform: uppercase;
}
.c_image, .c_text p {
    text-align: center;
}
.c_selection img, .c_text p, .c_cat {
    margin: 10px;
}
.c_option_list label { 
    cursor:pointer;
    color: rgb(0, 0, 0);
}
.c_option input[type="checkbox"]:checked + label, .c_option_autre input[type="radio"]:checked + label {
    color: rgb(33, 122, 52);
    font-weight: bold;
}
.c_text, .c_option, .c_total_option {
    border-top: 2px solid black;
}
.c_option, .c_option_autre {
    line-height: 30px;
}
.c_option_list {
    padding-left: 15px;
}
.c_option_list input, .c_option_autre input {
    margin-right: 5px;
    margin-left: 5px;
}
.c_total_option {
    display: flex;
    flex-flow: row wrap;
}
.c_total_option button {
    display: block;
    background-color: transparent;
    text-align: center;
    font-size: 20px;
    width: 70%;
    cursor: pointer;
    border: none;
}
.c_total_option p {
    display: block;
    width: 29%;
    border-left: 2px solid black ;
    text-align: center;
    font-size: 20px;
}